// Define variables
$primary-color: #000000;
$secondary-color: #ffffff;
$pixel-10: 10px;
$btn-background-color: #00e2c9;
$border-radius-10: 10px;
$mobile-width: 500px;
$nav-width: 300px;
$transition-speed: 0.3s;
$overlay-color: rgba(255, 255, 255, 0.8); // Transparent white overlay color

* {
  //border: 1px dashed rgb(255, 0, 0);
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  .navbar {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    height: 80px;

    .logo-img-section {
      width: 150px;
      height: 70px;
    }
    .nav-logo {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .hamburger-menu {
      display: none;
    }

    //This is the mobile menu
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $overlay-color;
      opacity: 0;
      visibility: hidden;
      transition: left $transition-speed;
      z-index: 2;

      &.open {
        opacity: 1;
        visibility: visible;
      }
    }

    .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: $nav-width;
      height: 100vh;
      background-color: #ebebeb;
      color: #fff;
      transition: left $transition-speed;
      display: flex;
      flex-direction: column;
      z-index: 3;

      &.open {
        left: 0;
      }

      ul {
        z-index: 4;
        margin-top: 50px;
        padding: 10px;

        li {
          padding: 10px;
          &:hover {
            background-color: rgba(160, 154, 157, 0.55) !important;
          }

          a {
            color: #333;
            list-style: none;
            text-decoration: none;
          }
        }
      }
    }

    .hamburger-icon {
      cursor: pointer;
      z-index: 1000; // Increase the z-index to bring it forward
    }

    nav ul {
      display: flex;
      list-style: none;

      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &.menu-item {
          $pixel-10: 10px;
          margin: calc($pixel-10);
          &:hover {
            .submenu {
              display: block;
              z-index: 2;
            }
          }

          > a {
            display: inline-block;
            color: $primary-color;
            text-decoration: none;
            padding: 0px;
            font-weight: 600;
          }

          .material-symbols-outlined {
            display: inline-block;
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
          }
        }

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          padding: $pixel-10;
          background-color: $secondary-color;

          li {
            margin-bottom: calc($pixel-10 / 2);

            a {
              display: block;
              padding: calc($pixel-10 / 2);
              color: $primary-color;
              text-decoration: none;
            }
          }
        }
      }
    }

    .search-bar {
      display: flex;
      align-items: center;
      border: none;
      width: 20rem;
      border-radius: $border-radius-10; /* Rounded borders */
      background-color: #ebebeb; /* Background color */
      padding: 0px 20px 0px 0px;
      height: 28px;

      label {
        margin-right: 20px;
      }

      #search-bar-input {
        padding: 5px;
        outline: none;
        background-color: #ebebeb; /* Background color */
        border-radius: inherit;
        color: #333;
        border: none;
        width: 100%; /* Width */
        font-family: inherit;
      }
      .search-icon,
      .mic-icon {
        color: #333;
        cursor: pointer;
      }
    }

    .customer-nav-options {
      display: flex;
      color: $primary-color;

      .call-option {
        display: none;
      }

      .location-option,
      .save-option,
      .login-option {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px 10px;

        a {
          display: flex;
          align-items: center;
          color: $primary-color;
        }
        .location-icon,
        .save-icon,
        .login-icon {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .hero-container {
    max-width: 1650px;
    margin: auto;
    width: 100%;
    position: relative;
    padding: 10px;
    height: 55vh;

    .hero-img {
      width: 100%;
      height: 100%;
      background-image: url(./images/Hero-banner-desktop.jpg);
      background-size: cover;
      background-position: center;
    }
    .hero-info-container {
      position: absolute;
      top: 20%;
      left: 8%;
      padding: 20px;
      color: #ffffff;
      width: 35%;

      > h1 {
        width: 65%;
        font-size: 38px;
      }

      > p {
        width: 70%;
        font-weight: lighter;
        font-size: 16px;
        line-break: auto;
        letter-spacing: 0.5px;
        margin: 10px 0px;
      }

      .test-drive-btn {
        height: 50px;
        padding: 0px 30px;
        background-color: $btn-background-color;
        color: #013a3c;
        border-radius: 10px;
        font-weight: 700;
        outline: none;
        border: 0px;
        margin: 10px 0px;
        cursor: pointer;

        &:hover{
          transform: translateY(-5px);
        }
      }
    }
  }
  .card-section {
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    > .card-title > h1 {
      margin: 20px;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      background-color: $secondary-color;
      border-radius: $pixel-10;
      position: relative;

      .card {
        width: 450px;
        background-color: $secondary-color;
        padding: 30px;
        margin-bottom: calc($pixel-10 * 2);
        border-radius: 15px;
        margin: 15px 20px;
        -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        height: auto;

        &:hover{
          transform: translateY(-5px);
        }

        .card-chevron {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          .circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(
              red($secondary-color),
              green($secondary-color),
              blue($secondary-color),
              0.5
            );
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid #ebebeb;

            .chevron-right {
              font-size: 28px;
              font-weight: 600;
              color: #333;
              cursor: pointer;
            }
          }
        }

        .card-image {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }

        .card-title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 3px;
        }

        .card-subtitle {
          font-size: 16px;
          color: #222222;
          margin-bottom: 12px;
        }

        .card-bullet-points {
          margin-bottom: 12px;
          padding: 0px;

          .card-bullet-point {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            color: #222222;
            font-weight: 500;
            font-size: 1rem;

            &:before {
              content: "\2022"; /* Bullet point character */
              margin-right: 8px;
              color: #000;
            }
          }
        }
      }
    }
  }

  .top-feature-section {
    max-width: 1650px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    width: 100%;
    padding: 10px;
    height: 50vh;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;

    .top-feature-container {
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      padding: 40px;
      align-items: center;
      justify-content: center;
      height: auto;

      .top-feature-section-text {
        padding: 20px;
        width: 45%;
        > h1 {
          width: 75%;
          font-size: 38px;
          color: #222222;
        }

        > p {
          width: 90%;
          font-weight: lighter;
          font-size: 16px;
          line-break: auto;
          color: #222222;
          margin: 10px 0px;
        }

        .personalised-video-btn {
          height: 50px;
          padding: 0px 30px;
          background-color: $btn-background-color;
          color: #013a3c;
          border-radius: 10px;
          font-weight: 700;
          outline: none;
          border: 0px;
          margin: 10px 0px;
          cursor: pointer;
          &:hover{
            transform: translateY(-5px);
          }
        }
      }
      .top-feature-section-image-div {
        width: 700px;
        height: auto;

        .top-feature-section-image {
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }
  .bottom-feature-section {
    max-width: 1650px;
    position: relative;
    margin: auto;
    margin-top: 0;
    width: 100%;
    padding: 10px;
    height: 55vh;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;

    .bottom-feature-container {
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      padding: 40px;
      align-items: center;
      justify-content: center;

      .bottom-feature-section-text {
        padding: 30px;
        width: 45%;
        margin: 0px 20px;
        > h1 {
          width: 75%;
          font-size: 38px;
          color: $secondary-color;
        }

        > p {
          width: 90%;
          font-weight: lighter;
          font-size: 14px;
          line-break: auto;
          color: $secondary-color;
          margin: 10px 0px;
        }

        .car-info-milage {
          display: flex;
          justify-content: start;
          margin: 10px 0px;

          > div > h1 {
            color: $secondary-color;
            margin: 10px 0px;
            font-size: 28px;
          }

          > div > p {
            color: $secondary-color;
            font-weight: lighter;
            font-size: 14px;
            line-break: auto;
          }
          > div > .eletric-range-title {
            font-size: 40px;
          }
          > div > .eletric-range-text {
            margin: 10px 20px;
          }
        }

        .test-drive-btn {
          height: 50px;
          padding: 0px 30px;
          background-color: $btn-background-color;
          color: #013a3c;
          border-radius: 10px;
          font-weight: 700;
          outline: none;
          border: 0px;
          margin: 30px 0px;
          cursor: pointer;
          &:hover{
            transform: translateY(-5px);
          }
        }
      }
      .bottom-feature-section-image-div {
        width: 700px;
        height: auto;

        .bottom-feature-section-image {
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .top-feature-section {
    height: auto;
  }
  .bottom-feature-section {
    height: auto;
  }

  .top-feature-section-text {
    order: 2;
  }
  .top-feature-section-image-div {
    order: 1;
  }
}

@media screen and (max-width: 1300px) {
  * {
    overflow-x: hidden;

    .navbar {
      height: auto;
      justify-content: flex-start;
      .nav-logo {
        display: block;
      }

      nav ul {
        display: none;
      }

      .search-bar {
        display: none;
      }

      .customer-nav-options {
        .location-option,
        .save-option,
        .login-option,
        .call-option {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-left: auto;

          > a {
            display: none;
          }
        }
        .call-option {
          display: block;
          .call-icon {
            cursor: pointer;
          }
        }
      }

      .hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .hamburger-icon {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: $mobile-width) {
  * {
    overflow-x: hidden;

    .hamburger-menu {
      display: block;
    }

    .material-symbols-outlined {
      overflow-y: hidden;
    }

    .customer-nav-options {
      margin-left: auto;
    }

    .hero-container {
      padding: 0;
      height: auto;
      width: 100%;

      .hero-img {
        width: 100%;
        height: 223px;
        background-image: url(./images/Hero-banner-mobile.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .hero-info-container {
        display: flex;
        flex-direction: column;
        position: static;
        padding: 0;
        padding: 20px 0px;
        color: #ffffff;
        background-color: #333;
        position: static;
        width: 100%;
        height: 100%;

        > h1 {
          margin: auto;
          font-size: 24px;
          margin-bottom: 20px;
          margin-top: 10px;
          text-align: center;
        }
        > p {
          margin: auto;
          font-size: 12px;
          width: 100%;
          margin-bottom: 20px;
          text-align: center;
        }
        > .test-drive-btn {
          margin: auto;
          margin-bottom: 10px;
        }
      }
    }

    .card-chevron {
      display: none !important;
    }

    .top-feature-section {
      padding: 0;
      width: 100%;
      .top-feature-container {
        padding: 0;
        width: 100%;

        .top-feature-section-text {
          width: 90%;
          display: flex;
          flex-direction: column;

          > h1 {
            font-size: 28px;
            width: 100%;
          }

          > .test-drive-btn {
            margin: auto;
            width: 90%;
          }
        }

        .top-feature-section-image-div {
          .top-feature-section-image {
            border-radius: 0px;
          }
        }
      }
    }

    .bottom-feature-section {
      padding: 0;
      .bottom-feature-container {
        padding: 0;
        width: 100%;

        .bottom-feature-section-image-div {
          .bottom-feature-section-image {
            border-radius: 0;
          }
        }

        .bottom-feature-section-text {
          padding: 30px 0px;
          width: 90%;
          display: flex;
          flex-direction: column;

          > h1 {
            font-size: 28px;
            width: 100%;
          }
          > p {
            width: 100%;
          }

          > .car-info-milage > div > .eletric-range-title {
            font-size: 28px !important;
          }

          > .test-drive-btn {
            margin: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
