@charset "UTF-8";
* {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
}
* .navbar {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
}
* .navbar .logo-img-section {
  width: 150px;
  height: 70px;
}
* .navbar .nav-logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
* .navbar .hamburger-menu {
  display: none;
}
* .navbar .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: left 0.3s;
  z-index: 2;
}
* .navbar .overlay.open {
  opacity: 1;
  visibility: visible;
}
* .navbar .nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #ebebeb;
  color: #fff;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
* .navbar .nav-menu.open {
  left: 0;
}
* .navbar .nav-menu ul {
  z-index: 4;
  margin-top: 50px;
  padding: 10px;
}
* .navbar .nav-menu ul li {
  padding: 10px;
}
* .navbar .nav-menu ul li:hover {
  background-color: rgba(160, 154, 157, 0.55) !important;
}
* .navbar .nav-menu ul li a {
  color: #333;
  list-style: none;
  text-decoration: none;
}
* .navbar .hamburger-icon {
  cursor: pointer;
  z-index: 1000;
}
* .navbar nav ul {
  display: flex;
  list-style: none;
}
* .navbar nav ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .navbar nav ul li.menu-item {
  margin: 10px;
}
* .navbar nav ul li.menu-item:hover .submenu {
  display: block;
  z-index: 2;
}
* .navbar nav ul li.menu-item > a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding: 0px;
  font-weight: 600;
}
* .navbar nav ul li.menu-item .material-symbols-outlined {
  display: inline-block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
* .navbar nav ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: #ffffff;
}
* .navbar nav ul li .submenu li {
  margin-bottom: 5px;
}
* .navbar nav ul li .submenu li a {
  display: block;
  padding: 5px;
  color: #000000;
  text-decoration: none;
}
* .navbar .search-bar {
  display: flex;
  align-items: center;
  border: none;
  width: 20rem;
  border-radius: 10px; /* Rounded borders */
  background-color: #ebebeb; /* Background color */
  padding: 0px 20px 0px 0px;
  height: 28px;
}
* .navbar .search-bar label {
  margin-right: 20px;
}
* .navbar .search-bar #search-bar-input {
  padding: 5px;
  outline: none;
  background-color: #ebebeb; /* Background color */
  border-radius: inherit;
  color: #333;
  border: none;
  width: 100%; /* Width */
  font-family: inherit;
}
* .navbar .search-bar .search-icon,
* .navbar .search-bar .mic-icon {
  color: #333;
  cursor: pointer;
}
* .navbar .customer-nav-options {
  display: flex;
  color: #000000;
}
* .navbar .customer-nav-options .call-option {
  display: none;
}
* .navbar .customer-nav-options .location-option,
* .navbar .customer-nav-options .save-option,
* .navbar .customer-nav-options .login-option {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 10px;
}
* .navbar .customer-nav-options .location-option a,
* .navbar .customer-nav-options .save-option a,
* .navbar .customer-nav-options .login-option a {
  display: flex;
  align-items: center;
  color: #000000;
}
* .navbar .customer-nav-options .location-option .location-icon,
* .navbar .customer-nav-options .location-option .save-icon,
* .navbar .customer-nav-options .location-option .login-icon,
* .navbar .customer-nav-options .save-option .location-icon,
* .navbar .customer-nav-options .save-option .save-icon,
* .navbar .customer-nav-options .save-option .login-icon,
* .navbar .customer-nav-options .login-option .location-icon,
* .navbar .customer-nav-options .login-option .save-icon,
* .navbar .customer-nav-options .login-option .login-icon {
  margin-right: 5px;
  cursor: pointer;
}
* .hero-container {
  max-width: 1650px;
  margin: auto;
  width: 100%;
  position: relative;
  padding: 10px;
  height: 55vh;
}
* .hero-container .hero-img {
  width: 100%;
  height: 100%;
  background-image: url(./images/Hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}
* .hero-container .hero-info-container {
  position: absolute;
  top: 20%;
  left: 8%;
  padding: 20px;
  color: #ffffff;
  width: 35%;
}
* .hero-container .hero-info-container > h1 {
  width: 65%;
  font-size: 38px;
}
* .hero-container .hero-info-container > p {
  width: 70%;
  font-weight: lighter;
  font-size: 16px;
  line-break: auto;
  letter-spacing: 0.5px;
  margin: 10px 0px;
}
* .hero-container .hero-info-container .test-drive-btn {
  height: 50px;
  padding: 0px 30px;
  background-color: #00e2c9;
  color: #013a3c;
  border-radius: 10px;
  font-weight: 700;
  outline: none;
  border: 0px;
  margin: 10px 0px;
  cursor: pointer;
}
* .hero-container .hero-info-container .test-drive-btn:hover {
  transform: translateY(-5px);
}
* .card-section {
  max-width: 1500px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
* .card-section > .card-title > h1 {
  margin: 20px;
}
* .card-section .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
* .card-section .cards-container .card {
  width: 450px;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin: 15px 20px;
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: auto;
}
* .card-section .cards-container .card:hover {
  transform: translateY(-5px);
}
* .card-section .cards-container .card .card-chevron {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
* .card-section .cards-container .card .card-chevron .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ebebeb;
}
* .card-section .cards-container .card .card-chevron .circle .chevron-right {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}
* .card-section .cards-container .card .card-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
* .card-section .cards-container .card .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}
* .card-section .cards-container .card .card-subtitle {
  font-size: 16px;
  color: #222222;
  margin-bottom: 12px;
}
* .card-section .cards-container .card .card-bullet-points {
  margin-bottom: 12px;
  padding: 0px;
}
* .card-section .cards-container .card .card-bullet-points .card-bullet-point {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #222222;
  font-weight: 500;
  font-size: 1rem;
}
* .card-section .cards-container .card .card-bullet-points .card-bullet-point:before {
  content: "•"; /* Bullet point character */
  margin-right: 8px;
  color: #000;
}
* .top-feature-section {
  max-width: 1650px;
  position: relative;
  margin: auto;
  margin-top: 60px;
  width: 100%;
  padding: 10px;
  height: auto;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}
* .top-feature-section .top-feature-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  height: auto;
}
* .top-feature-section .top-feature-container .top-feature-section-text {
  padding: 20px;
  width: 45%;
}
* .top-feature-section .top-feature-container .top-feature-section-text > h1 {
  width: 75%;
  font-size: 38px;
  color: #222222;
}
* .top-feature-section .top-feature-container .top-feature-section-text > p {
  width: 90%;
  font-weight: lighter;
  font-size: 16px;
  line-break: auto;
  color: #222222;
  margin: 10px 0px;
}
* .top-feature-section .top-feature-container .top-feature-section-text .personalised-video-btn {
  height: 50px;
  padding: 0px 30px;
  background-color: #00e2c9;
  color: #013a3c;
  border-radius: 10px;
  font-weight: 700;
  outline: none;
  border: 0px;
  margin: 10px 0px;
  cursor: pointer;
}
* .top-feature-section .top-feature-container .top-feature-section-text .personalised-video-btn:hover {
  transform: translateY(-5px);
}
* .top-feature-section .top-feature-container .top-feature-section-image-div {
  width: 700px;
  height: auto;
}
* .top-feature-section .top-feature-container .top-feature-section-image-div .top-feature-section-image {
  width: 100%;
  border-radius: 15px;
}
* .bottom-feature-section {
  max-width: 1650px;
  position: relative;
  margin: auto;
  margin-top: 0;
  width: 100%;
  padding: 10px;
  height: auto;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
* .bottom-feature-section .bottom-feature-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 40px;
  align-items: center;
  justify-content: center;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text {
  padding: 30px;
  width: 45%;
  margin: 0px 20px;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text > h1 {
  width: 75%;
  font-size: 38px;
  color: #ffffff;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text > p {
  width: 90%;
  font-weight: lighter;
  font-size: 14px;
  line-break: auto;
  color: #ffffff;
  margin: 10px 0px;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .car-info-milage {
  display: flex;
  justify-content: start;
  margin: 10px 0px;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .car-info-milage > div > h1 {
  color: #ffffff;
  margin: 10px 0px;
  font-size: 28px;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .car-info-milage > div > p {
  color: #ffffff;
  font-weight: lighter;
  font-size: 14px;
  line-break: auto;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .car-info-milage > div > .eletric-range-title {
  font-size: 40px;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .car-info-milage > div > .eletric-range-text {
  margin: 10px 20px;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .test-drive-btn {
  height: 50px;
  padding: 0px 30px;
  background-color: #00e2c9;
  color: #013a3c;
  border-radius: 10px;
  font-weight: 700;
  outline: none;
  border: 0px;
  margin: 30px 0px;
  cursor: pointer;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-text .test-drive-btn:hover {
  transform: translateY(-5px);
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-image-div {
  width: 700px;
  height: auto;
}
* .bottom-feature-section .bottom-feature-container .bottom-feature-section-image-div .bottom-feature-section-image {
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 1600px) {
  .top-feature-section {
    height: auto;
  }
  .bottom-feature-section {
    height: auto;
  }
  .top-feature-section-text {
    order: 2;
  }
  .top-feature-section-image-div {
    order: 1;
  }
}
@media screen and (max-width: 1300px) {
  * {
    overflow-x: hidden;
  }
  * .navbar {
    height: auto;
    justify-content: flex-start;
  }
  * .navbar .nav-logo {
    display: block;
  }
  * .navbar nav ul {
    display: none;
  }
  * .navbar .search-bar {
    display: none;
  }
  * .navbar .customer-nav-options {
    margin-left: auto;
  }
  * .navbar .customer-nav-options .location-option,
  * .navbar .customer-nav-options .save-option,
  * .navbar .customer-nav-options .login-option,
  * .navbar .customer-nav-options .call-option {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  * .navbar .customer-nav-options .location-option .material-symbols-outlined,
  * .navbar .customer-nav-options .save-option .material-symbols-outlined,
  * .navbar .customer-nav-options .login-option .material-symbols-outlined,
  * .navbar .customer-nav-options .call-option .material-symbols-outlined {
    overflow-y: hidden;
  }
  * .navbar .customer-nav-options .location-option > a,
  * .navbar .customer-nav-options .save-option > a,
  * .navbar .customer-nav-options .login-option > a,
  * .navbar .customer-nav-options .call-option > a {
    display: none;
  }
  * .navbar .customer-nav-options .call-option {
    display: block;
  }
  * .navbar .customer-nav-options .call-option .call-icon {
    cursor: pointer;
  }
  * .navbar .hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  * .navbar .hamburger-menu .hamburger-icon {
    margin-left: 5px;
    cursor: pointer;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 500px) {
  * {
    overflow-x: hidden;
  }
  * .hamburger-menu {
    display: block;
  }
  * .material-symbols-outlined {
    overflow-y: hidden;
  }
  * .customer-nav-options {
    margin-left: auto;
  }
  * .hero-container {
    padding: 0;
    height: auto;
    width: 100%;
  }
  * .hero-container .hero-img {
    width: 100%;
    height: 223px;
    background-image: url(./images/Hero-banner-mobile.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  * .hero-container .hero-info-container {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 0;
    padding: 20px 0px;
    color: #ffffff;
    background-color: #333;
    position: static;
    width: 100%;
    height: 100%;
  }
  * .hero-container .hero-info-container > h1 {
    margin: auto;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
  }
  * .hero-container .hero-info-container > p {
    margin: auto;
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  * .hero-container .hero-info-container > .test-drive-btn {
    margin: auto;
    margin-bottom: 10px;
  }
  * .card-chevron {
    display: none !important;
  }
  * .top-feature-section {
    padding: 0;
    width: 100%;
  }
  * .top-feature-section .top-feature-container {
    padding: 0;
    width: 100%;
  }
  * .top-feature-section .top-feature-container .top-feature-section-text {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  * .top-feature-section .top-feature-container .top-feature-section-text > h1 {
    font-size: 28px;
    width: 100%;
  }
  * .top-feature-section .top-feature-container .top-feature-section-text > .test-drive-btn {
    margin: auto;
    width: 90%;
  }
  * .top-feature-section .top-feature-container .top-feature-section-image-div .top-feature-section-image {
    border-radius: 0px;
  }
  * .bottom-feature-section {
    padding: 0;
  }
  * .bottom-feature-section .bottom-feature-container {
    padding: 0;
    width: 100%;
  }
  * .bottom-feature-section .bottom-feature-container .bottom-feature-section-image-div .bottom-feature-section-image {
    border-radius: 0;
  }
  * .bottom-feature-section .bottom-feature-container .bottom-feature-section-text {
    padding: 30px 0px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  * .bottom-feature-section .bottom-feature-container .bottom-feature-section-text > h1 {
    font-size: 28px;
    width: 100%;
  }
  * .bottom-feature-section .bottom-feature-container .bottom-feature-section-text > p {
    width: 100%;
  }
  * .bottom-feature-section .bottom-feature-container .bottom-feature-section-text > .car-info-milage > div > .eletric-range-title {
    font-size: 28px !important;
  }
  * .bottom-feature-section .bottom-feature-container .bottom-feature-section-text > .test-drive-btn {
    margin: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
